In [1]:
import pandas as pd
import numpy as np

NUM_PROBLEMS = 5
NUM_ASSIGNMENTS = 2

In [2]:
cols = ['idiom_0',
       'instance_0', 'label_0', 'meaning_0', 'idiom_1', 'instance_1',
       'label_1', 'meaning_1', 'idiom_2', 'instance_2', 'label_2', 'meaning_2',
       'idiom_3', 'instance_3', 'label_3', 'meaning_3', 'idiom_4',
       'instance_4', 'label_4', 'meaning_4', '0_gold', '1_gold',
        '2_gold', '3_gold', '4_gold',
       'TimeMe', 'AssignmentId', 'WorkerId']

column_groups = [
        ['idiom_0', 'instance_0', 'label_0', 'meaning_0', '0_gold'],
        ['idiom_1', 'instance_1', 'label_1', 'meaning_1', '1_gold'],
        ['idiom_2', 'instance_2', 'label_2', 'meaning_2', '2_gold'],
        ['idiom_3', 'instance_3', 'label_3', 'meaning_3', '3_gold'],
        ['idiom_4', 'instance_4', 'label_4', 'meaning_4', '4_gold'],
    ]

# common columns for all rows
common_cols = ['TimeMe', 'AssignmentId', 'WorkerId']

In [3]:
def str_replace(df):
    df.columns = df.columns.str.replace('Input.', '') 
    df.columns = df.columns.str.replace('Answer.', '')
    return df

df = pd.read_csv("batch2_result.csv")
df = str_replace(df)
df = df[cols]
df = df.fillna('{}')
df.head()

/var/folders/92/6j34w0196yq0cnnrfrw0s68w0000gn/T/ipykernel_31972/63580596.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('Input.', '')
/var/folders/92/6j34w0196yq0cnnrfrw0s68w0000gn/T/ipykernel_31972/63580596.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('Answer.', '')

,idiom_0,instance_0,label_0,meaning_0,idiom_1,instance_1,label_1,meaning_1,idiom_2,instance_2,...,label_4,meaning_4,0_gold,1_gold,2_gold,3_gold,4_gold,TimeMe,AssignmentId,WorkerId
0,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,out of hand,the ball got out of hand when he accidentally ...,1,out of control,two peas in a pod,"the twins were dressed identically, looking li...",...,0,a test that proves a hypothesis or validity of...,0,1,2,1,0,65.204,3XUHV3NRV0EQVD5N5TL98KYAZWNH5M,A2A6FH0F7LD9ND
1,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,out of hand,the ball got out of hand when he accidentally ...,1,out of control,two peas in a pod,"the twins were dressed identically, looking li...",...,0,a test that proves a hypothesis or validity of...,0,1,0,1,0,151.035,3RKNTXVS32ETP7T9LIS7M65SM514AS,A2LMQ4497NMK3S
2,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,out of hand,the ball got out of hand when he accidentally ...,1,out of control,two peas in a pod,"the twins were dressed identically, looking li...",...,0,a test that proves a hypothesis or validity of...,0,1,0,1,0,38.973,3JPSL1DZ58FFBF3F3N73LFBSDMWNA6,APRZ7BR8C0ZMQ
3,make ends meet,the tailor was struggling to make ends meet wh...,1,make sufficient money to survive on,choke up,"hearing the sad news, he started to choke up a...",0,make a person become overemotional and speechless,under fire,the politician was under fire from the crowd f...,...,0,to be silly and slightly crazy and behave in a...,1,0,0,1,0,100.216,3P1L2B7ADH5EPJUV1TW69IR8X80LO1,A1HKYY6XI2OHO1
4,make ends meet,the tailor was struggling to make ends meet wh...,1,make sufficient money to survive on,choke up,"hearing the sad news, he started to choke up a...",0,make a person become overemotional and speechless,under fire,the politician was under fire from the crowd f...,...,0,to be silly and slightly crazy and behave in a...,1,1,0,1,0,34.816,37FMASSAYS7SGOXGCLU7BIZH95OBIA,A2A6FH0F7LD9ND

In [4]:
def melt(df):
    # list of column sets

    # melt the dataframe
    dfs = []
    for i, column_group in enumerate(column_groups):
        melted = df[column_group + common_cols].copy()  # select the columns
        melted.columns = ['idiom', 'instance', 'label', 'meaning', 'gold',]+ common_cols  # rename the columns
        melted['group'] = i  # add a column to indicate the original group
        dfs.append(melted)

    # concatenate the melted dataframes
    df_melted = pd.concat(dfs, ignore_index=True)
    return df_melted.drop('group', axis=1)

df = melt(df)
df.head()

,idiom,instance,label,meaning,gold,TimeMe,AssignmentId,WorkerId
0,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,0,65.204,3XUHV3NRV0EQVD5N5TL98KYAZWNH5M,A2A6FH0F7LD9ND
1,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,0,151.035,3RKNTXVS32ETP7T9LIS7M65SM514AS,A2LMQ4497NMK3S
2,get out of bed on the wrong side,"he was so grumpy today, it seemed like he got ...",0,be very irritable and grouchy,0,38.973,3JPSL1DZ58FFBF3F3N73LFBSDMWNA6,APRZ7BR8C0ZMQ
3,make ends meet,the tailor was struggling to make ends meet wh...,1,make sufficient money to survive on,1,100.216,3P1L2B7ADH5EPJUV1TW69IR8X80LO1,A1HKYY6XI2OHO1
4,make ends meet,the tailor was struggling to make ends meet wh...,1,make sufficient money to survive on,1,34.816,37FMASSAYS7SGOXGCLU7BIZH95OBIA,A2A6FH0F7LD9ND

In [5]:
df = df.groupby(['idiom', 'instance', 'label', 'meaning']).agg(list).reset_index()
df['len'] = df['gold'].apply(len)
df['len'].value_counts()

4    210
3     40
Name: len, dtype: int64

In [6]:
from collections import Counter

def most_frequent(array):
    count = Counter(array)
    max_count = max(count.values())
    max_elements = [k for k, v in count.items() if v == max_count]

    if len(max_elements) > 1:
        return 'tie'  # return -1 in case of a tie

    return max_elements[0]  # return the most frequent element

In [7]:
labels = ['figurative', 'literal', 'ambiguous', 'discard']
def f(row):
    for i in range(NUM_ASSIGNMENTS):
        row[f'gold_{i}'] = labels[row['gold'][i]]

    row['label'] = labels[row['label']]
    row['gold'] = row['gold'][:NUM_ASSIGNMENTS]
    row['TimeMe'] = row['TimeMe'][:NUM_ASSIGNMENTS]
    row['AssignmentId'] = row['AssignmentId'][:NUM_ASSIGNMENTS]
    row['WorkerId'] = row['WorkerId'][:NUM_ASSIGNMENTS]
    row['maxVote'] = most_frequent([
        row[f'gold_{i}'] for i in range(NUM_ASSIGNMENTS)])
    return row
df = df.apply(f, axis=1).drop('len', axis=1)
df.head()

,idiom,instance,label,meaning,gold,TimeMe,AssignmentId,WorkerId,gold_0,gold_1,maxVote
0,"Mr Right, Ms Right","at the costume party, they found their Mr Righ...",literal,the best future life partner for someone,"[1, 1]","[108.273, 45.577]","[34T446B1CGU0JY86MV1WGY535W6C0M, 3JV9LGBJW9UY3...","[A1HKYY6XI2OHO1, A290OV59Q76QC8]",literal,literal,literal
1,a bird in the hand,"holding a bird in the hand, she carefully exam...",literal,a possession that is worthy,"[1, 1]","[96.687, 47.933]","[3TEM0PF1QLDAOQEKMRW704NLQWJ0DB, 3IRIK4HM3Q0VX...","[A1HKYY6XI2OHO1, A290OV59Q76QC8]",literal,literal,literal
2,a hard nut to crack,the mysterious case was a hard nut to crack fo...,figurative,a problem that is difficult to solve,"[0, 0]","[41.239, 71.186]","[3KYQYYSHYBNVR763OCYIQ5J3OZYODO, 3MMN5BL1WFK99...","[A290OV59Q76QC8, A2A6FH0F7LD9ND]",figurative,figurative,figurative
3,a litmus test,"in the chemistry lab, the new policy was a lit...",literal,someone's decision or opinion about something ...,"[3, 0]","[120.387, 48.432]","[3KOPY89HMOIJ84D9FA0150G5YSZJ32, 3KKG4CDWKYEFK...","[A1HKYY6XI2OHO1, A290OV59Q76QC8]",discard,figurative,tie
4,a trip to the sun,he planned a trip to the sun when he decided t...,figurative,something which is very unlikely,"[0, 0]","[62.052, 146.511]","[3Z7EFSHGNPU8GOEHP7Q3PCSEF3RCXH, 3EG49X351ASJ0...","[A290OV59Q76QC8, A2LMQ4497NMK3S]",figurative,figurative,figurative

In [8]:
golds = df[[f'gold_{i}' for i in range(NUM_ASSIGNMENTS)]].copy()
def g(row):
    for i in range(NUM_ASSIGNMENTS):
        row[f'gold_{i}'] = labels.index(row[f'gold_{i}'])
    return row
golds = golds.apply(g, axis=1)

from statsmodels.stats.inter_rater import aggregate_raters
from statsmodels.stats.inter_rater import fleiss_kappa
golds = aggregate_raters(golds)[0]
kappa = fleiss_kappa(golds, method='fleiss')
kappa

0.7213609019333267

In [95]:
df[['idiom', 'instance', 'label', 'meaning', 'maxVote', 
    'gold_0', 'gold_1', 'AssignmentId', 'WorkerId', 'TimeMe'
    ]].to_csv("batch2_agg.csv", index=False)

In [96]:
len(df[df['maxVote'] == df['label']])

204