In [1]:
import pandas as pd
import numpy as np

df_zh = pd.read_csv('zh.csv')
df_ko = pd.read_csv('ko.csv')

In [2]:
def drop_pairs(df):
    # Create a vector to flag rows to keep
    keep = np.ones(len(df), dtype=bool)

    # Iterate over pairs of rows
    for i in range(0, len(df), 2):
        # If either row in the pair has 'Malformed Brackets' == 'FALSE', set keep to False for both
        if (df.loc[i, 'Malformed Brackets'] == 'TRUE') or (df.loc[i+1, 'Malformed Brackets'] == 'TRUE'):
            keep[i] = False
            keep[i+1] = False

    # Apply the mask and return the filtered dataframe
    return df[keep]

In [3]:
df_ko.columns = df_ko.iloc[3]
df_ko = df_ko[6::].reset_index(drop=True)
df_ko = drop_pairs(df_ko).reset_index(drop=True)

In [4]:
df_zh.columns = df_zh.iloc[0]
df_zh = df_zh[3::].reset_index(drop=True)
df_zh = drop_pairs(df_zh).reset_index(drop=True)

In [5]:
def f(df):
    res = []
    for i in range(0, len(df), 2):
        res.append([
            df.loc[i, 'Idiom'],             # idiom
            df.loc[i, 'Meaning'],           # meaning
            df.loc[i, 'Source '],            # s_f_brkt
            df.loc[i + 1, 'Source '],        # s_l_brkt
            df.loc[i, 'Translation'],       # t_f_brkt
            df.loc[i + 1, 'Translation'],   # t_l_brkt
        ])
    return pd.DataFrame(res, 
            columns=['idiom', 'meaning', 's_f_brkt', 's_l_brkt', 't_f_brkt', 't_l_brkt'])

df_ko_agg = f(df_ko)
df_zh_agg = f(df_zh)

3,Idiom,Meaning,NaN,Source,Translation,NaN,Malformed Brackets,Equivalent idiom,Discard
0,a bird in the hand,a possession that is worthy,fig,"He decided to accept the job offer, believing ...",그는 [[더 많은 것을 얻기 위해 노력하는 것보다 이미 가진 것에 만족하는 것이 더...,NaN,FALSE,FALSE,FALSE
1,NaN,NaN,lit,"Holding [[a bird in the hand]], she carefully ...",그녀는 [[손에 새]]를 쥔 채로 조심스럽게 새의 깃털을 살펴보았습니다.,NaN,FALSE,FALSE,FALSE
2,a cuckoo in the nest,an unwelcome intruder in a place or situation.,fig,When the new employee started causing problems...,새 직원이 문제를 일으키기 시작하자 그들은 [[침입자를 찾았는 것]]을 깨달았습니다.,NaN,FALSE,FALSE,FALSE
3,NaN,NaN,lit,"While observing the bird's nest, the ornitholo...",새의 둥지를 살펴보다가 조류학자는 [[둥지에서 뻐꾸기를 발견했습니다]].,NaN,FALSE,FALSE,FALSE
4,a hard nut to crack,a problem that is difficult to solve,fig,The mysterious case was [[a hard nut to crack]...,그 신비한 사건은 탑정에겐 [[풀리지 않는 난제]]였습니다.,NaN,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...
403,NaN,NaN,lit,"Due to her strict diet, she [[can't have the c...","혹독한 다이어트로, 그녀는 [[케이크도 토핑도 \r\n먹을수 없습니다 ]]",NaN,FALSE,FALSE,FALSE
404,you can't have your cake and eat it,you can't have things both ways,fig,You [[can't have the cake and eat it]] when it...,"고임금 직업을 유지하고 충분한 자유 시간을 가질 때, \r\n당신을 [[두가지를 ...",NaN,FALSE,FALSE,FALSE
405,NaN,NaN,lit,"At the cake decorating competition, participan...",케이크 데코레이션 대회에서 참가자들은 \r\n자신의 창작물을 심사위원들에게 보여줘야...,NaN,FALSE,FALSE,FALSE
406,Young Turk,a young person who has many new ideas and want...,fig,He quickly became [[a Young Turk in the compan...,그는 그의 혁신적인 아이디어로 인해\r\n [[개력론자]]가 되었습니다.,NaN,FALSE,FALSE,FALSE
407,NaN,NaN,lit,The new employee was [[a Young Turk in the com...,신입 사원은 [[회사의 개구장이 ]]였으며 \r\n최근에 터키에서 이사했습니다.,NaN,FALSE,FALSE,FALSE

In [122]:
def f(df):
    res = []
    for i in range(0, len(df), 2):
        res.append([
            df.loc[i, 'Idiom'],             # idiom
            df.loc[i, 'Meaning'],           # meaning
            df.loc[i, 'Source '],            # s_f_brkt
            df.loc[i + 1, 'Source '],        # s_l_brkt
            df.loc[i, 'Translation'],       # t_f_brkt
            df.loc[i + 1, 'Translation'],   # t_l_brkt
        ])
    return pd.DataFrame(res, 
            columns=['idiom', 'meaning', 's_f_brkt', 's_l_brkt', 't_f_brkt', 't_l_brkt'])

df_ko_agg = f(df_ko)
df_zh_agg = f(df_zh)

In [123]:
def f(df):
    res = []
    for i in range(0, len(df), 2):
        i_fig = i if df.loc[i, 'label'] == 'figurative' else i + 1
        i_lit = (i + 1) if df.loc[i + 1, 'label'] == 'literal' else i
        res.append([
            df.loc[i, 'idiom'],             # idiom
            df.loc[i, 'meaning'],           # meaning
            df.loc[i_fig, 'source'],        # s_f_brkt
            df.loc[i_lit, 'source'],        # s_l_brkt
        ])
    return pd.DataFrame(res, 
            columns=['idiom', 'meaning', 's_f_brkt', 's_l_brkt'])
base = pd.read_csv("base.csv")
base = f(base)

In [124]:
import re

def no_brkt(df, col_br, col_nobr):
    # Creating a new column 'text_without_brackets' by removing the square brackets
    df[col_nobr] = df[col_br].str.replace(r'\[\[', '', regex=True).str.replace(r'\]\]', '', regex=True)
    return df

def in_brkt(df, col_br, col_in_br):
    df[col_in_br] = df[col_br].apply(lambda x: ' '.join(re.findall(r'\[\[(.*?)\]\]', x)))
    return df

base = no_brkt(base, 's_f_brkt', 's_f')
base = no_brkt(base, 's_l_brkt', 's_l')
base = in_brkt(base, 's_f_brkt', 's_a')

In [110]:
df_ko_nobr = no_brkt(df_ko_agg, 's_f_brkt', 's_f')
df_ko_nobr = no_brkt(df_ko_agg, 's_l_brkt', 's_l')
df_ko_nobr = in_brkt(df_ko_agg, 's_f_brkt', 's_a')

df_ko_nobr = no_brkt(df_ko_agg, 't_f_brkt', 't_f')
df_ko_nobr = no_brkt(df_ko_agg, 't_l_brkt', 't_l')
df_ko_nobr = in_brkt(df_ko_agg, 't_f_brkt', 't_f_a')
df_ko_nobr = in_brkt(df_ko_agg, 't_l_brkt', 't_l_a')

In [125]:
df_zh_nobr = no_brkt(df_zh_agg, 's_f_brkt', 's_f')
df_zh_nobr = no_brkt(df_zh_agg, 's_l_brkt', 's_l')
df_zh_nobr = in_brkt(df_zh_agg, 's_f_brkt', 's_a')

df_zh_nobr = no_brkt(df_zh_agg, 't_f_brkt', 't_f')
df_zh_nobr = no_brkt(df_zh_agg, 't_l_brkt', 't_l')
df_zh_nobr = in_brkt(df_zh_agg, 't_f_brkt', 't_f_a')
df_zh_nobr = in_brkt(df_zh_agg, 't_l_brkt', 't_l_a')

In [112]:
df_ko_res = base.merge(df_ko_nobr[['idiom', 't_f_brkt', 't_l_brkt', 't_f', 't_l', 't_f_a', 't_l_a']], 
                        on='idiom', how='left').dropna().reset_index(drop=True)
df_zh_res = base.merge(df_zh_nobr[['idiom', 't_f_brkt', 't_l_brkt', 't_f', 't_l', 't_f_a', 't_l_a']], 
                        on='idiom', how='left').dropna().reset_index(drop=True)

In [113]:
inner = pd.merge(df_ko_res, df_zh_res, how='inner', 
                     on=['idiom', 'meaning', 's_f_brkt', 's_l_brkt', 's_a', 's_f', 's_l'],
                     suffixes=('_ko', '_zh'))
inner.to_csv("inner.csv", index=False)